.admin-index, .admin-event, .admin-activity{
    background-color: WhiteSmoke;
}

.admin-activity .card{
    width: 100%;
}
.admin-activity .col-activity-id{
    width: 5%;
}
.admin-activity .col-activity-name{
    width: 80%;
}
.admin-activity .col-activity-action{
    width: 15%;
}

.btn-informe {
    margin: 0 10px;
}

@media (min-width:768px) {
    
}


@media (min-width:1024px) {
    .admin-activity .card{
        width: 70%;
        margin: 0 auto;
    }
  
}

