<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: lightgreen;">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content ">
            <div class="modal-header">
                <a href="" data-bs-dismiss="modal" aria-label="Volver">Volver</a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vista-previa">
                <div class="d-flex justify-content-around flex-wrap">
                    <div class="mobile">
                        <h4>Mobile - Iphone 6 (375x667)</h4>
                        <div class="box">
                            <iframe id="iframe-sm"  frameborder="0" width="375" height="667"></iframe>
                        </div>
                    </div>
                    <div class="tablet">
                        <h4>Tablet - Ipad (768x1024)</h4>
                        <div class="box">
                            <iframe id="iframe-md"  frameborder="0" width="768" height="1024"></iframe>
                        </div>
                    </div>
                    <div class="desktop">
                        <h4>Desktop - (1280x800)</h4>
                        <div class="box">
                            <iframe id="iframe-lg"  frameborder="0" width="1280" height="800"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>